:root{
    --verde-malta:rgb(1, 99, 29);
    --verde-shadow:rgb(34, 148, 26);
    --verde-dark:#1b2618;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter',sans-serif ;
    font-size: 62.5%;
}
header nav a{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-decoration: none;
    color: black;
    text-shadow: 0px 2px 4px white;
    padding-left: 10px;
}
header nav a:hover{
color: white;
text-shadow:var(--verde-shadow) 0px 4px 6px;
}
header{
width: 100%;
height: auto;
}
.header--nav{
    text-align: right;
    padding: 17px;
    width: 100%;
    transition: .2s ease all;
}
.header_fixed{
    position: fixed;
    z-index: 4;
    transition: .5s ease all;
    background-color: var(--verde-malta);
}
.img{
 background-position: center;
background-repeat: no-repeat;
background-size: cover;   
}
header a .img_logo{
display:block;
position: absolute;
width: 60px;
height: 60px;
left: calc(2%);
top: 1px;
background-image: url(../imgs/iconos/logobeer2.png);
}
.main--space p{
    padding-top:65px;
}
main{
    background-color:var(--verde-dark) ;
}
.cart-container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:hidden;
}
.cart-container .title--carrito{
    padding-bottom:5px ;
    padding-top: 30px;
}
.cart-container .cart--popup{
    width: 90%;
    margin: 0 auto;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    background-image: url(../imgs/fondos/cart_cover.jpeg);
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Cardo', sans-serif;
    text-align: center;
    text-shadow: white 2px 1px 2px;
    transition: .2s ease all;    
    opacity: 0;

}
.cart--popup.active{
    opacity: 1;
}
.cart--popup .close-popup{
    background-image: url(../imgs/iconos/btn_close.png);
    width: 45px;
    height: 45px;
    right: calc(10% );
    display: block;
    position: absolute;
    border-radius: 23px;
    background-color:rgba(11, 117, 3, 0.453) ;
}
.cart--popup .close-popup:hover{
    width: 47px;
    height: 47px;
    background-color: rgb(216, 14, 14);
}
.cart--popup input[type="button"]{
    border-radius: 10px;
    padding: 7px;
    font-size: 1.8rem;
    background-color: var(--verde-malta);
    color: white;
}
.cart--popup input[type="button"]:hover{
    font-size:1.9rem ;
}
.main--img-container .cart{
width: 50px;
height: 50px;
display: block;
background-color:black;
border-radius: 30px;
top: 80px;
left: calc(100% - 70px);
position: absolute;
background-image: url(../imgs/iconos/cart2.png);
}
.main--img-container .cart:hover{
width: 52px;
height: 52px;
cursor:pointer;
}
.cart--data{
    height: 71%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.318);
    flex-direction: column;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    margin-bottom: 5px;
    border-radius: 10px;
}
.cart--data::-webkit-scrollbar{
    display: none;
}
.cart--data article{
    scroll-snap-align:center;
}
.cart--data p{
color: #1a5eac;
font-size: 1.6rem;
padding: 5px;
text-shadow: black 1px 1px 1px;

}
.cart-container.active_cart{
    visibility: visible;
}
.cart .cant-cart{
font-size: 1.2rem;
position: absolute;
top: -16px;
left: calc(100% - 25px);
font-family: 'Nabla', cursive;
text-shadow: black 1px 2px 2px;
}
.main--img-container {
    width: 100%;
    height: 70vh;
    background-image: url(../imgs/fondos/beer_first.jpeg);
}
.main--title-container{
    padding-top: 120px;
    width: 50%;
    padding-left: 10px;
    font-size: 3.2rem;
    line-height: 3.4rem;
    font-weight: bold;
    color: white;
    font-family: 'Nabla', cursive;
}
@media (min-width:390px) {
    .main--title-container{
        padding-top: 80px;
        width: 50%;
        padding-left: 10px;
        font-size: 3.6rem;
        line-height: 3.7rem;
        font-weight: bold;
        color: white;
        font-family: 'Nabla', cursive;
    }  
}
@media (min-width:470px) {
    .main--title-container{
        padding-top: 50px;
        width: 50%;
        padding-left: 10px;
        font-size: 4rem;
        line-height:4.2rem;
        font-weight: bold;
        color: white;
        font-family: 'Nabla', cursive;
    }  
}
@media (min-width:625px) {
    .main--title-container{
        padding-top: 40px;
        width: 50%;
        padding-left: 10px;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: bold;
        color: white;
        font-family: 'Nabla', cursive;
    }  
}
@media (min-width:760px) {
    .main--title-container{
        padding-top: 20px;
        width: 50%;
        padding-left: 50px;
        font-size: 5rem;
        line-height: 5.6rem;
        font-weight: bold;
        color: white;
        font-family: 'Nabla', cursive;
    }  
    header nav a{
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 2rem;
        text-decoration: none;
        color: black;
        text-shadow: 0px 2px 4px white;
        padding-left: 10px;
    }
}
@media (min-width:1000px) {
    .main--title-container{
        padding-top: 100px;
        width: 50%;
        padding-left: 100px;
        font-size: 6rem;
        line-height: 6.2rem;
        font-weight: bold;
        color: white;
        font-family: 'Nabla', cursive;
    }  
}
.main--advantage-container{
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.main--advantage-container .advantage--cards-container{
    width: 90%;
    max-width: 800px;
    min-width: 288px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.advantage--cards-container .advantage-card{
    padding: 10px;
    width: 135px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    border: white 3px groove;
}
.advantage-card p{
    padding-top: 5px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: white;
}
.advantage-card .advantage-img1 {
    background-image: url(../imgs/iconos/star.png);
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.main--content-container{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.main--content-container .content--container-box{
    width: 90%;
    min-width: 288px;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}
.main--content-container .content--container-box h1{
    font-family: 'Cardo',sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    text-align: center;
    color: goldenrod;
}
.main--content-container p{
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem ;
    font-family: 'DM Sans';
    color: white;
    text-align: center;
}
.main--presentaciones-container{
    width: 100%;
    height: auto;
}
.main--presentaciones-container .presentaciones--cards-container{
    width: 90%;
    min-width:288px ;
    max-width: 930px;
    height: auto;
    margin:  0 auto;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.main--presentaciones-container .presentaciones--cards-container .card-presentacion{
    width: 280px;
    height: auto;
    padding: 10px;
    position: relative;
    text-align: center;
    z-index: 3;
}
.card-presentacion .presentacion{
    width: 90%;
    margin: 0 auto;
    height: 200px;
}
.card-presentacion .precio{
    font-size: 1.6rem;
    padding: 3.5px;
    color: white;
    border-radius: 5px;
    position:absolute;
    left: calc(67%);
    font-weight:300 ;
    font-family: 'Luckiest Guy',sans-serif;
    background: linear-gradient(gold, var(--verde-dark));
}
.presentacion--desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentacion--desc p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-family: 'Nabla', cursive;
}
.presentacion--desc .desc{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: 'Inter', cursive;
    color: white;
}
.presentacion--desc .carrito{
    padding-left: 60px;
}
.carrito input[type="number"], .carrito input[type="button"]{
font-size: 1.2rem;
padding: 3px;
border-radius: 5px;
}
.carrito input[type="number"]{
    width: 56px;
    position: absolute;
    left: calc(10% - 1px);
}
.carrito input[type="button"]:hover{
    cursor:pointer;
}
.cart--data .presentacion.cart{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    position: relative;
}
.presentacion.cart .cant_cart{
    position: absolute;
    background-color: var(--verde-malta);
    top:0px;
    left: calc(90% - 20px);
    border-radius: 10px;
    padding: 3px;
    color: white;
    font-size: 1rem;
    text-shadow: none;
}
.delete_this{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: calc(7% - 5px);
    top: 25px;
    background-image: url(../imgs/iconos/delete.png);
}
.delete_this:hover{
    width: 35px;
    height: 35px;
}
.cart--data .card-presentacion.cart{
    display: grid;
    grid-template-columns: 27% 30% 30% 13%;
    padding: 10px;
    position: relative;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.196);
}
.card-presentacion.cart .title{
    font-size: .7rem;
    font-family: 'serif';
    font-weight: bold;
    color: black;
    font-weight: 100;height: auto;
}
.card-presentacion.cart .precio_cart{
    font-size: 1.6rem;
    font-weight: bold;
}
@media (min-width:765px) {
    .cart--data .presentacion.cart{
        width: 100px;
        height: 100px;
        border-radius: 10px;
        position: relative;
    }
    .cart--data .card-presentacion.cart{
        display: grid;
        grid-template-columns: 30% 40% 20% 10%;
        padding: 10px;
    }
    .card-presentacion.cart .title{
        font-size: 1.3rem;
        font-family: 'Cardo';
        color: black;
        font-weight: 100;
    }
    .card-presentacion.cart .precio_cart{
        font-size: 1.8rem;
    }  
    .presentacion.cart .cant_cart{
        position: absolute;
        background-color: var(--verde-malta);
        top:0px;
        left: calc(90% - 20px);
        border-radius: 10px;
        padding: 3px;
        color: white;
        font-size: 1.4rem;
        text-shadow: none;
    }
    .delete_this{
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 25px;
        background-image: url(../imgs/iconos/delete.png);
    }
    .delete_this:hover{
        width: 45px;
        height: 45px;
    }
}
.cart--popup .cart_op_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.cart_op_container .total{
    background-color: rgba(255, 255, 255, 0.675);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.8rem;

}
@media (max-width:415px) {
    .cart--popup .cart_op_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }
    .cart_op_container .total{
        background-color: rgba(255, 255, 255, 0.675);
        border-radius: 10px;
        padding: 5px;
        font-size: 1.6rem;
    
    }
}
footer .footer--desc-container{
    width: 100%;
    height: auto;
    background-color: var(--verde-malta); 
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer--desc-container .logos_container{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.logos_container div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.footer--desc-container a{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-decoration: none;
    color: white;
}
.footer--desc-container .img_logo{
    display:block;
    width: 60px;
    height: 60px;
    background-image: url(../imgs/iconos/logobeer2.png);
}
.footer--desc-container .img_logo_jdx{
    display:block;
    width: 60px;
    height: 60px;
    background-image: url(https://jdx.netlify.app/imgs/iconos/logo_principla_2.png);
}