:root{
    --verde-malta:rgb(1, 99, 29);
    --verde-shadow:rgb(34, 148, 26);
    --verde-dark:#1b2618;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter',sans-serif ;
    font-size: 62.5%;
}
header nav a{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-decoration: none;
    color: black;
    text-shadow: 0px 2px 4px white;
    padding-left: 10px;
}
header nav a:hover{
color: white;
text-shadow:var(--verde-shadow) 0px 4px 6px;
}
header{
width: 100%;
height: auto;
padding-bottom: 65px;
}
.header--nav{
    text-align: right;
    padding: 17px;
    width: 100%;
    background-color: var(--verde-malta);
    position: fixed;
    z-index: 3;
}

.img{
 background-position: center;
background-repeat: no-repeat;
background-size: cover;   
}
header a .img_logo{
display:block;
position: absolute;
width: 60px;
height: 60px;
left: calc(2%);
top: 1px;
background-image: url(../imgs/iconos/logobeer2.png);
}
main{
    background-color:var(--verde-dark) ;
}
@media (min-width:760px) {
    header nav a{
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 2rem;
        text-decoration: none;
        color: black;
        text-shadow: 0px 2px 4px white;
        padding-left: 10px;
    }
}
.main--form-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.main--form-container .form--data-container{
    width: 100%;
    background-color: var(--verde-dark);
    min-width: 288px;
    max-width: 850px;
    height: 70%;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.1rem;
    text-align: left;
    color: white;
    padding-bottom: 25px;
    
}
.form--data-container h3{
    font-size: 1.3rem;
    text-shadow:black 2px 2px 2px ;
    padding-bottom: 5px;
    text-align: center;
}
.form--data-container form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid rgba(255, 255, 255, 0.086) .3px;
    padding: 10px;
    margin-bottom: 5px;
}
.form--data-container form input{
    font-size: .9rem;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form--data-container input[type="submit"]{
    font-size: 1.2rem;
    padding: 3px;
    width: 170px;
    align-self: center;
}
.form--data-container .data_cart{
    visibility: hidden;
}
.main--cart-container{
    padding-top: 10px;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 10px;
}
.slider_cart{
    width: 100%;
    height: 75%;
    overflow-y: scroll;
}
.slider_cart::-webkit-scrollbar{
    display: none;
}
.main--cart-container .cart--data-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    background-image: url(../imgs/fondos/cart_cover.jpeg);
    border: rgba(255, 255, 255, 0.108) 2px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.cart--data-container .pre{
    margin-top: 2px;
}
.cart--data-container h3{
    font-size: 1.4rem;
    color: white;
    text-shadow: black 2px 2px 2px;
    padding-bottom: 10px;
}
.cart--data-container .data---cart{
width: 100%;
background-color: rgba(255, 255, 255, 0.381);
font-size: 1rem;
text-shadow: white 2px 2px 2px;
display: grid;
align-items: center;
grid-template-columns: 25% 25% 25% 25%;
}
.presentacion{
    width: 50px;
    height: 40px;
}
.article--container{
    display: flex;
    padding-left: 5px;
    padding-top: 1px;
    flex-direction: column;
}
.article--container p{
    font-size: .6rem;
    text-align: left;
}
.total-container{
    display: flex;
    font-size: 1.1rem;
    justify-content: right;
    gap: 10px;
}
.total-container .total-all{
    background-color: rgb(180, 178, 178);
    padding: 5px;
    border-radius: 5px;
    box-shadow: black 1px 2px 2px;
}
.total-container .continuar-btn{
    padding: 5px;
    border-radius: 5px;
    background-color: var(--verde-malta);
    color: white;
    box-shadow: black 1px 2px 2px;
}
footer .footer--desc-container{
    width: 100%;
    height: auto;
    background-color: var(--verde-malta); 
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer--desc-container .logos_container{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.logos_container div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.footer--desc-container a{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-decoration: none;
    color: white;
}
.footer--desc-container .img_logo{
    display:block;
    width: 60px;
    height: 60px;
    background-image: url(../imgs/iconos/logobeer2.png);
}
.footer--desc-container .img_logo_jdx{
    display:block;
    width: 60px;
    height: 60px;
    background-image: url(https://jdx.netlify.app/imgs/iconos/logo_principla_2.png);
}